<h1>People Records</h1>

<% @people.each do |person| %>

  <%= person.name %>

  <%= link_to 'Show', person_path(person) %>
  <%= link_to 'Edit', edit_person_path(person) %>
  <%= link_to 'Delete', person, method: :delete %>
  
<% end %>

<%= link_to 'Create New Record', new_person_path %>


